<div class="signup_form">
  <%= simple_form_for :user,
                                url: registration_path("user"),
                            wrapper: :vertical_form,
                           defaults: { label_html: { class: "sr-only"},
                         input_html: { class: "input-lg" }},
                               html: { class: "form form-horizontal", id: "new_user" } do |f| %>
    <%= f.input :first_name, placeholder: "Prénom" %>
    <%= f.input :last_name, placeholder: "Nom" %>
    <%= f.input :email, placeholder: "Email" %>
    <%= f.input :password, placeholder: "Mot de passe", required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
    <p class="disclaimer">
      <strong>Notre engagement</strong> : vos coordonnées ne seront jamais communiquées aux salles sans votre accord.
    </p>

    <%= button_tag "Je m'inscris", type: "submit", class: "btn btn-lg btn-action" %>

    <div class="shared-links">
      Déjà membre ? <%= link_to "Connectez-vous ici", "#", id: "already_signed_up", rel: :nofollow %>
    </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
