<%= render layout: "layouts/modal", locals: { modal_name: "signup", modal_size: "", modal_title: "S'inscire sur Cohome" } do %>
  <div class="step-1">
    <table class="modal-layout">
      <tbody>
        <tr>
          <td>
            <div class="signup_form">
              <%= simple_form_for :user, remote: true,
                                            url: registration_path("user"),
                                           data: { type: :json, spinnable: true },
                                        wrapper: :vertical_form,
                                       defaults: { label_html: { class: "sr-only"},
                                     input_html: { class: "" }},
                                           html: { class: "form form-horizontal", id: "new_user" } do |f| %>
                <%= f.input :first_name, placeholder: "Prénom" %>
                <%= f.input :last_name, placeholder: "Nom" %>
                <%= f.input :city, placeholder: "Ville" %>
                <%= f.input :email, placeholder: "Email" %>
                <%= f.input :password, placeholder: "Mot de passe", required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
                <p class="disclaimer">
                  <strong>Notre engagement</strong> : vos coordonnées ne seront jamais communiquées.
                </p>

                <%= button_tag "Rejoindre la communauté Cohome", type: "submit", class: "btn btn-lg btn-action" %>
              <% end %>
            </div>
          </td>
        </tr>
      <tbody>
    </table>
  </div>
  <div class="step-2 text-center"  style="display:none;">
    <p class="modal-info text-center">Félicitation ! Vous allez être redirigé vers la communauté de <span class="city"></span> dans quelques secondes..</p>
     <p class="signature">L'Équipe Cohome whith love <i class="fa fa-heart"></i></p>
    <i class="fa fa-spinner fa-spin"></i>
  </div>

  <div class="step-3 text-center"  style="display:none;">
    <p class="modal-info text-center">Félicitation ! Nous vous informerons dès l'ouverture de COHOME à <span class="city"></span> ! Excellente journée !</p>
    <p class="signature">L'Équipe Cohome whith love <i class="fa fa-heart"></i></p>
    <span class="btn btn-action bnt-lg btn-closing">Fermer</span>
  </div>
<% end %>
