<div class="content">
  <div class="page">
    <div class="container">
      <h1 class="page-header">Réinitialisation du mot de passe</h1>
      <%= simple_form_for(:user, as: :user, url: password_path(:user), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <%= f.input :reset_password_token, as: :hidden %>
        <%= f.full_error :reset_password_token %>

        <%= f.input :password, label: "Nouveau mot de passe", autofocus: true, required: true %>
        <%= f.input :password_confirmation, label: "Confirmer mot de passe", required: true %>

        <%= f.button :submit, "Modifier mon mot de passe", class: "btn btn-action" %>
      <% end %>

    </div>

  </div>
</div>
