<footer class="clearfix">
  <div class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">
    <div class="social-icon clearfix text-center">
      <div class="col-md-3 col-xs-3"><a href="https://www.facebook.com/cohome.in" title="Facebook" target="_blank"><%= embedded_svg "social/ico-facebook.svg", class: "" %></a></div>
      <div class="col-md-3 col-xs-3"><a href="https://twitter.com/cohome_in" title="Twitter" target="_blank"><%= embedded_svg "social/ico-twitter.svg", class: "" %></a></div>
      <div class="col-md-3 col-xs-3"><a href="https://www.instagram.com/cohome_in/" title="Instagram" target="_blank"><%= embedded_svg "social/ico-instagram.svg" %></a></div>
      <div class="col-md-3 col-xs-3"><a href="https://www.youtube.com/channel/UCUlKUkwum9TLnQVg8uxY5uQ" title="Youtube" target="_blank"><%= embedded_svg "social/ico-youtube.svg", class: "" %></a></div>
    </div>
    <div class="info-footer text-center">
      <p>Copyright 2016 Cohome.</p>
      <p>All Rights Reserved</p>
      <p>Pictures from Laurent Martinet</p>
      <p><%= link_to 'CGU', ( asset_path 'cgu.pdf'), target: :_blank %></p>
    </div>
  </div>
</footer>
